<%- include("header"); -%>
<div>
    <p class="box">
        Hi, I am Mrigesh Patni. 
        I am a full stack developer and a devops enthusiast.
        
        This is a todo list app created with node js, Express.
        ejs is used as a view engine to render templates.
        it is a three route app, where "/" route is route for normal todo list, /work route is for work list and /about is for about route.
    </p>

    <%- include("footer"); -%>